/* About.css */
.about {
  background-color: white;
  padding: 40px 20px;
}

.about-content {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 5rem;
}

.about-text {
  flex: 1;
}

.about-text h1 {
  color: #495e57;
  font-size: 36px;
  margin-bottom: 10px;
}

.about-text h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 20px;
}

.about-text p {
  color: black;
  font-size: 18px;
  line-height: 1.3;
}

.about-images {
  flex: 1;
}

.image-top {
  width: 100%;
  height: auto;
  border-radius: 10px;
  z-index: 1; /* Ensure this is higher than the image-bottom */
  position: relative; /* Add this to enable z-index and translations */
  aspect-ratio: 0;
  width: 280px;
  height: 280px;
  transform: translate(
    200px,
    50px
  ); /* Adjust these values to translate right and down */
}

.image-bottom {
  width: 100%;
  height: auto;
  border-radius: 10px;
  aspect-ratio: 1;
  width: 280px;
  height: 280px;
  z-index: 1; /* Lower z-index to stay behind the image-top */
  position: relative; /* Add this to enable z-index */
  transform: translate(
    50px,
    -50px
  ); /* Adjust these values to translate right and down */
}
