/* Hero.css */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  margin-bottom: 25px;
}

.hero-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 0;
}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.6;
}

.reserve-button {
  width: 150px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 100px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  margin-top: 0px;
  max-width: 100%;
  border-radius: 10px;
  transform: translateY(+50px);
}
